/* ================= Public Style=================== */
@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@200;300;400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-shadow: 0;
  font-family: 'Mukta Mahee', sans-serif;
}
:root{
  --fontFamily:'Quicksand', sans-serif;
  --textColor:#009961;
  --linkColor:#333;
}
/* body{
  height: 10000000px;
} */
a{
  text-decoration: none !important;
}
.container-public{
  max-width: 1340px;
}
.btnpublic{
  background-color:var(--textColor);
  color: #fff;
  font-size: 16px;
  padding: 10px 30px 10px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  z-index:1;
}
.btnpublic::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 400%;
  background: #fff;
  top: 31%;
  left: -78%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  z-index: -1;
}
.btnpublic:hover:before{
  top: -156%;
  left: 6%;
}
.btnpublic:hover{
  color: var(--textColor);
}
.title {

}
.title span{
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 10px;
  text-transform: uppercase;
  color: var(--textColor);
  font-family: var(--fontFamily);
}
.title h2{
  color: #303745;
  font-family: var(--fontFamily);
  font-size: 42px;
  font-weight: 700;
  position: relative;
  padding-bottom: 30px;
}
.title h2::after , .title-two h2::after{
  content: "";
  position: absolute;
  width: 50px;
  height: 5px;
  background: var(--textColor);
  z-index: 9;
  bottom: 0;
  left: 0;
}
.title-two h2::after{
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.title-two{
  width: 50%;
  margin: auto;
  text-align: center;
}

@media (max-width:991px) {
  .title-two ,  .title{
    width: 100%;
  }
  .title h2{
    font-size: 30px;
  }
}
/*================Start Navber ================ */
.navbar{
  background-color: #fff;
  padding: 22px 50px;
  z-index: 99999;
  position: sticky;
  top: 10px;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
}
.navbar.navScroll{
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 20px -10px rgb(0 0 0 / 80%);
}
.navbar .navbar-brand img{
  max-height: 40px;
}
.navbar .nav-item {
  margin-right: 14px;
  position: relative;
}
.navbar .nav-item::before , .navbar .nav-item::after{
  position: absolute;
  font-size: 22px;
  color: var(--textColor);
  top: 10%;
  opacity: 0;
  visibility: hidden;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
}
.navbar .nav-item::before{
  content: "[";
  left: -17%;

}
.navbar .nav-item::after{
  content: "]";
  right:-17%;
}
.navbar .nav-item:hover::before{
  opacity: 1;
  visibility: visible;
  left: -2px;
}
.navbar .nav-item:hover::after{
  opacity: 1;
  visibility: visible;
  right: -2px;
}
.navbar .nav-item .nav-link{
  color:var(--linkColor);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--fontFamily);
}
.navbar .dropdown-toggle::after{
  display:none;
}
.navbar .nav-item.active .nav-link{
  color:var(--textColor);
}
.navbar .nav-item.active::after{
  opacity: 1;
  visibility: visible;
  right: -2px;
}
.navbar .nav-item.active::before{
  opacity: 1;
  visibility: visible;
  left: -2px;
}
.navbar .dropdown-menu{
  display: block;
  background-color:var(--textColor);
  position: absolute;
  top: 166%;
  transform: scaleY(0);
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  opacity:0;
  visibility: hidden;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transform-origin: top;
  box-shadow: 0px 7px 7px 0px rgb(48 51 50 / 9%);
}
.navbar .dropdown-menu .dropdown-item{
  color: #fff;
}
.navbar .dropdown-menu .dropdown-item:hover{
  background-color: transparent;
  color:#ccc;
}
.navbar .nav-item:hover .dropdown-menu{
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  opacity:1;
  visibility: visible;
}
.navbar .dropdown-toggle span , .navbar .closeIcon{
  display:none;
}
@media (max-width:991px) {
  .navbar {
    padding: 28px 14px;
}
.navbar .navbar-toggler i {
  font-size: 40px;
  color:var(--textColor);
}
.navbar .navbar-brand img {
  max-height: 60px;
}
.navbar .nav-item::before, .navbar .nav-item::after{
  display:none;
}
.navbar .navbar-collapse{
  position: fixed;
  background: #fafafa;
  right: 0;
  top: 0;
  width: 63%;
  height: 100% !important;
  overflow:scroll;
}
.navbar .dropdown-toggle{
  display: flex;
  justify-content:space-between;
  align-items:center;
}
.navbar .dropdown-toggle span{
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: var(--textColor);
  line-height: 40px;
  text-align: center;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.navbar .dropdown-toggle span i{
  font-size: 18px;
  color: #fff;
}
.navbar .navbar-nav{
  padding-top: 50px;
}
.navbar .nav-item {
  border-bottom: 1px solid #f0f0f0;
}
.navbar .nav-item:last-child{
  border-bottom:0;
}
.navbar .nav-item .nav-link {
  padding: 15px 14px;
  font-size: 31px;
  font-weight: 500;
}
.navbar .dropdown-menu {
  position: unset;
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  opacity: 1;
  visibility: visible;
  background-color: transparent;
  border: 0;
  box-shadow: unset;
  display: none;
}
.navbar .dropdown-menu .dropdown-item{
  color: #333;
  border-bottom: 1px solid #f0f0f0;
  font-size:25px;
}
.navbar .dropdown-menu .dropdown-item:last-child{
  border-bottom:0;
}
.navbar .nav-item.show .dropdown-menu{
  display: block;
}
.navbar .closeIcon{
  display: block;
  width: 80px;
  height: 80px;
  background: var(--textColor);
  border-radius: 50%;
  line-height: 80px;
  text-align: center;
  margin: 40px 10px 0;
}
.navbar .closeIcon i{
  font-size: 20px;
  color:#fff;
}
.navbar .social-item{
  margin: 20px 10px;

}
.navbar .social-item a {
  width: 40px;
  height: 40px;
  background-color: var(--textColor);
  line-height: 40px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 12px;
}
.navbar .social-item a i{
  color: #fff;
}
.navbar .social-item {
  display: flex;
  justify-content: center;
}
}
@media (max-width:575px) {
  .navbar .navbar-brand img {
    max-height: 40px;
}
.navbar .navbar-toggler i {
  font-size: 30px;
}
.navbar .navbar-collapse {
  width: 85%;
}
.navbar .nav-item .nav-link {
  font-size: 17px;
}
.navbar .closeIcon{
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
}
.navbar .closeIcon i {
  font-size: 16px;
  color: #fff;
}
}
/* ================end Navber ================ */

/* ================Start Header ================ */
header{
  background-color: #fff;
  position: relative;
  overflow: hidden;
  height: calc(100vh - 94px);
  display: flex;
  align-items: center;
}
header::before{
  content: "";
  position: absolute;
  background-image: url("../img/leaf2.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 15%;
  animation: imgHeader 3s alternate infinite;
  -webkit-animation: imgHeader 3s alternate infinite;
}
@keyframes imgHeader {
  0%{
    transform:translateY(4%)  ;
    -webkit-transform:translateY(4%)  ;
    -moz-transform:translateY(4%)  ;
    -ms-transform:translateY(4%)  ;
    -o-transform:translateY(4%)  ;
}
}
header .row{
  justify-content: space-between;
  align-items: center;
}
header .content p{
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 35px;
  font-family:var(--fontFamily);
}
header .content h1{
  font-weight: 700;
  font-size: 46px;
  font-family:var(--fontFamily);
}
header .content h1 span{
  color: var(--textColor);
  font-family:var(--fontFamily);

}
header .img-box {
  position: relative;
}
header .img-box:before{
  content: "";
  position: absolute;
  background-image: url(../img/sl_5.png);
  width: 50%;
  height: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 0%;
  left: 30%;
  z-index: 1;
  animation: imgHeader 2s alternate infinite;
  -webkit-animation: imgHeader 2s alternate infinite;
}
header .img-box::after{
  content: "";
  position: absolute;
  width: 40%;
  height: 28%;
  background-image: url("../img/sl_4.png");
  right: 0;
  top: -4px;
  background-size: contain;
  background-repeat: no-repeat;
  animation: imgBox 2s alternate infinite;
  -webkit-animation: imgBox 2s alternate infinite;
}

@keyframes imgBox {
  0%{
    transform:perspective(1000px) rotateY(50deg) translate3d(0,0,0) ;
    -webkit-transform:perspective(1000px) rotateY(50deg) translate3d(0,0,0) ;
    -moz-transform:perspective(1000px) rotateY(50deg) translate3d(0,0,0) ;
    -ms-transform:perspective(1000px) rotateY(50deg) translate3d(0,0,0) ;
    -o-transform:perspective(1000px) rotateY(50deg) translate3d(0,0,0) ;
}
100%{
  transform:perspective(1000px) rotateY(-50deg)  ;
  -webkit-transform:perspective(1000px) rotateY(-50deg)  ;
  -moz-transform:perspective(1000px) rotateY(-50deg)  ;
  -ms-transform:perspective(1000px) rotateY(-50deg)  ;
  -o-transform:perspective(1000px) rotateY(-50deg)  ;
}
}
header .img-box .main-img{
  width: 100%;
  height: 100%;
  transform: scale(1.4);
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
}
header .img-box .img-header{
  position: absolute;
  left: 0;
  width: 45%;
}
@media (max-width:991px) {
  header .content p{
    font-size: 28px;
    font-weight: 700;
  }
  header .content h1 {
    font-weight: 700;
    font-size: 40px;
  }
}
@media (max-width:575px) {
  header .img-box {
    position: relative;
    width: 60%;
    margin: auto;
}
header .content{
  text-align: center;
  margin-top: 31px;
}
header .content p{
  font-size: 18px;
  font-weight: 700;
}
header .content h1 {
  font-weight: 700;
  font-size: 28px;
}
}
/* ================End Header ================ */
/* ================start working-site ================  */
.working{

}

.working .card{
  background-color: #FFFFFF;
  border-radius: 10px 10px 10px 10px;
  padding: 35px 22px 45px 22px;
  box-shadow: 0px 0px 150px 0px #eeeeee;
  border: 0;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
}
.working .card:hover{
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  background-color: var(--textColor);
}
.working .card .card-body{
  text-align: center;
}
.working .card .card-body .card-title{
  color: #282828;
  font-size: 19px;
  font-family: var(--fontFamily);
  font-weight: 700;
  text-decoration: none;
}
.working .card .card-body .card-text{
  color: #646464;
}
.working .card:hover .card-body .card-text ,
.working .card:hover .card-body .card-title{
  color: #fff;
}

/*  ================end working-site ================ */

/* ================start about-us ================ */
.about-us{
  padding: 100px 0;
}
/* .about-us .about-img img{
  width: 100%;
} */
.about-us p{
  color: #646464 ;
  margin-top: 40px;
}
.about-us ul {
  list-style: none;
  margin-bottom:0;
}
.about-us ul li {
  padding-left: 25px ;
  line-height: 34px;
}
.about-us ul li i{
  color: var(--textColor);
  margin-right: 10px;
}
/* ================end wabout-us================ */

/* ================start contact ================  */
.contact{
  background-image: url("../img/call-to-action-2.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0 180px ;
}
.contact .title-contact{
  width: 60%;
  margin: auto;
  text-align: center;
}
.contact .title-contact h2{
  font-size: 42px;
  font-weight: 700;
  font-family: var(--fontFamily);
  color: #fff;
  margin-bottom: 40px;
}
@media (max-width:991px) {
  .contact .title-contact{
    width: 85%;
  }
}
@media (max-width:575px) {
  .contact .title-contact{
    width: 100%;
    padding: 0 15px;
  }
  .contact .title-contact h2{
    font-size: 28px;
    line-height: 1.6;
  }
}
/* ================end wcontact================ */

/* ================start counter-up ================ */
.counter-up{
  box-shadow: 0px 14px 30px 0px rgb(0 0 0 / 7%);
  padding: 20px 0;
  width: 80%;
  margin: -80px auto;
  background: #fff;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.counter-up span{
  color: var(--textColor);
  font-size: 60px;
  font-weight: 600;
}
.counter-up p{
  color: #282828;
  font-family: var(--fontFamily);
  font-size: 20px;
  font-weight: 600;
}
/* ================end counter-up================ */
/*  ================start services ================ */
.services{
  padding: 140px 0;
}
.services .nav-services{
  margin-top: 50px;
}

.services .nav-services .nav-pills{
  justify-content: center;
}
.services .nav-services .nav-pills .nav-item{
  margin-right: 15px;
}
.services .nav-services .nav-pills .nav-item .nav-link{
  box-shadow: 0 0 30px rgb(228 219 219 / 50%);
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-align: center;
  color: #282828;
}
.services .nav-services .nav-pills .nav-item .nav-link i{
  display: block;
  font-size: 60px;
  color: var(--textColor);
  margin-bottom: 15px;
}
.nav-pills .nav-link.active{
  background-color: transparent;
  color: #282828;
  border-bottom: 3px solid var(--textColor);
}
.services .tab-content{
  margin-top:50px;
}
.services .tab-content .tab-pane {

}
.services .tab-content .tab-pane .services-img img{
  width:100%;
}
.services .tab-content .tab-pane .services-desc h2{
  font-size: 42px;
  color: #303745;
  font-weight: 700;
  font-family:var(--fontFamily);
  margin-bottom: 20px;
}
.services .tab-content .tab-pane .services-desc p{
  color: #7A7A7A;
}
.services .tab-content .tab-pane .services-desc ul {
  list-style: none;
}
.services .tab-content .tab-pane .services-desc ul li{
  line-height: 1.9;
  color: #7A7A7A;
}
.services .tab-content .tab-pane .services-desc ul li i{
  color: var(--textColor);
  margin-right: 15px;
}
.services .tab-content .tab-pane .services-desc .btnpublic{
  background-color: #fff;
  color: var(--textColor);
  border: 1px solid var(--textColor);
}
.services .tab-content .tab-pane .services-desc .btnpublic::before{
  background-color: var(--textColor);
}
.services .tab-content .tab-pane .services-desc .btnpublic:hover{
  color: #fff;
}
@media (max-width:991px) {
  .services .title-two {
    width: 91%;
  }
  .services .nav-services .nav-pills {
    flex-direction: column;
}
.services .nav-services .nav-pills .nav-item {
  margin-bottom: 15px;
}
}
@media (max-width:575px) {
  .services .title-two {
    width: 100%;
  }
  .services .title-two .title h2 {
    color: #303745;
    font-family: var(--fontFamily);
    font-size: 26px;
  }
  .services .nav-services .nav-pills .nav-item {
    margin-bottom: 15px;
    width: 100%;
}
.services .tab-content .tab-pane .services-desc h2 {
  font-size: 36px;
}
.services .services-desc{
  margin-top: 40px;
}
}
/* ================end services ================  */

/* ================start Project ================ */
.project{
  background-color:#f7f7f7;
  padding: 100px 0;
}
.project .title-two{
  margin-bottom: 50px;
}

.project .card{
  border: 0;
  position: relative;
  margin-bottom: 57px;
}
.project .card .overflow-hidden{
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}
.project .card .card-img-top{
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}
.project .card:hover .card-img-top{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.project .card .card-body{
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: -7%;
  padding: 14px 0 22px;
  box-shadow: 0 6px 25px rgb(0 0 0 / 7%);
  text-align: center;
  background-color: #fff;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
}
.project .card .card-body a{
  display: block;
  margin: 0;
}
.project .card .card-body .card-title{
  color: #282828;
  font-size: 20px;
  font-weight:700;
}
.project .card .card-body .card-text{
  margin-top: -21px;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}
.project .card:hover .card-body .card-text{
  margin-top: 0;
  opacity: 1;
  visibility: visible;
}
.project .owl-nav{
  display: none;
}
.project .owl-dots{
  width: 23%;
  margin: auto;
  text-align: center;
}
.project button.owl-dot{
  width: 35px;
  height: 8px;
  border-radius: 5px;
  margin: 0 3px;
  background-color:var(--textColor);
  transition: all .4s ease-in;
  -webkit-transition: all .4s ease-in;
  -moz-transition: all .4s ease-in;
  -ms-transition: all .4s ease-in;
  -o-transition: all .4s ease-in;
  opacity: .5;
}
.project button.owl-dot.active{
  width: 43px;
  opacity:1;

}
@media (max-width:575px) {
  .project .title-two {
    width: 100%;
  }
  .project .title-two .title h2 {
    color: #303745;
    font-family: var(--fontFamily);
    font-size: 26px;
  }
  .project .owl-dots {
    width: 100%;
  }
}
/* ================start Project ================   */

/* ================start Request  ================ */
.request{
  padding: 100px 0;
}
.request .request-form form{
  margin-top: 50px;
}
.request .request-form form .form-control{
  width: 100%;
  background: #fff;
  border-radius: 5px;
  color: #646464;
  box-shadow: 0 0 35px #e4eae4;
  border: none;
}
.request .request-form form .btnpublic{
  width: 100%;
}
/* ================end Request  ================  */


/* ================start team  ================ */
.team {
  background:#f7f7f7;
  padding: 100px 0;
}
.team .card{
  border: 0;
  position: relative;
  margin-bottom:50%;
}
.team .card .card-img-top{
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
}
.team .card:hover .card-img-top{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.team .card .card-body{
  background-color: var(--textColor);
  text-align: center;
  color: #fff;
  position: absolute;
  width: 100%;
  bottom: -31%;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
}
.team .card:hover .card-body{
  box-shadow: 0 0 150px #eee;
}
.team .card .card-body .card-title{
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
  display: inline-block;

}
.team .card .card-body .card-text{
  margin: 0;
}
.team .card .card-body .social-item{
  transform: scale(.5);
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  -ms-transform: scale(.5);
  -o-transform: scale(.5);
  opacity: 0;
  visibility: hidden;
  margin-top: -17px;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
}
.team .card:hover .card-body .social-item{
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  opacity: 1;
  visibility: visible;
  margin-top: 0;
}
.team .card .card-body .social-item a{
  color: #fff;
}

/* ================end team  ================ */
/* ================start testimonials  ================ */
.testimonials{
  padding: 90px 0px 123px 0px;
  background-image: url("../img/test_2.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.testimonials .carousel {
  position: relative;
  width: 70%;
  margin: auto;
  text-align: center;
}
.testimonials .carousel img{
  width: 75px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-bottom: 30px;
}
.testimonials .carousel .content p{
  color: #505050;
  font-size: 22px;
  font-weight: 400;
  line-height: 35px;
  margin-bottom: 65px;
}
.testimonials .carousel .content h4{
  color: #282828;
  font-size: 25px;
  font-weight: 600;
  line-height: 35px;
  margin: 0px 0px 11px 0px;
}
.testimonials .carousel .content span{
  color: #505050;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}
.testimonials .carousel-indicators {
  bottom: -23%;
}
.testimonials .carousel-indicators li{
  border: 1px solid var(--textColor);
  width: 20px;
  height: 8px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.testimonials .carousel-indicators li.active{
  background-color: var(--textColor);
}
@media (max-width:991px) {
  .testimonials .carousel {
    width: 100%;
  }
}
/* ================end testimonials  ================ */



/*  ================start blog  ================ */
.blog{
  padding: 100px 0;
  background-color: #FAFAFA;
}
.blog .card{
  border: 0;
  box-shadow: 0 6px 25px rgb(0 0 0 / 5%);
}
.blog .card .card-top{
  position: relative;
}
.blog .card .card-top .deta{
  position: absolute;
  background-color: var(--textColor);
  left: 0;
  bottom: 0;
  width: 17%;
  color: #fff;
  padding: 0px 12px 17px;
  border-radius: 0 5px 0 0;
  font-size: 14px;
  text-align: center;
}
.blog .card .card-top .deta span:nth-child(1){
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 4px;
}
.blog .card .card-top .deta span:nth-child(2){
  font-weight: 700;
  font-size: 18px;
}
.blog .card .card-body .card-title{
  color: #282828;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
  display: inline-block;
}
.blog .card .card-body .card-text{
  color: #646464;
}
/*  ================end blog  ================ */


/* ================start brand  ================ */
.brand{
  padding: 100px 0;
}
.brand .box-brand{
  display: flex;
  justify-content: center;
  height: 100px;
}

.brand .box-brand .top{
  position: absolute;
  top: -100%;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
}
.brand .box-brand .bottom{
  position: absolute;
  bottom: 0;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
}
.brand .box-brand:hover .top{
  top: 0;
}
.brand .box-brand:hover .bottom{
  bottom: -100%;
}
/* ================start brand  ================ */



/* ================start footer  ================ */
footer{
  background-image: url("../img/footer-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
}
footer .social-item{
  margin-top: 20px;
}
footer .social-item a{
  margin-right: 25px;
  font-size: 17px;
  color: #fff;
}
footer .box-footer{
  margin-bottom:40px;
}
footer .box-footer .title h2{
  font-size: 25px;
  color: #fff;
}
footer .box-footer ul{
  list-style: none;
  color: #fff;
  list-style: none;
  color: #fff;
  margin: 25px 0 0 0;
}
footer .box-footer ul li{
  margin-bottom: 20px;
}
footer .box-footer ul li i{
  color: var(--textColor);
  margin-right: 10px;
}
footer .box-footer .card{
  background-color:transparent;
  color: #fff;
  margin-top: 20px;
}
footer .box-footer .card img{
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
footer .box-footer .card .card-body{
  padding :0 0 0 10px;
}
footer .box-footer .card .card-body .card-title{
  font-size: 14px;
}
footer .box-footer .card .card-body .card-text{
  color: #aaa;
}
footer .box-footer .card .card-body .card-text i{
  color: var(--textColor);
  margin-right: 10px;
}
footer .box-footer p{
  color: #fff;
  font-size: 14px;
}
footer .box-footer .form-group {
  position: relative;
}
footer .box-footer .form-group .form-control{
  border: none;
  width: 100%;
  font-size: 13px;
  padding: 23px;
  margin: 0;
  border-radius: 7px;
  background: #fff;
  color: #212121;
}
footer .box-footer .form-group .btn{
  background-color: var(--textColor);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 20%;
  padding: 0;
  color: #fff;
  border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
}
/* ================end footer  ================ */

.btnTop{
  width: 40px;
  height: 40px;
  background-color: var(--textColor);
  border-radius:50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  -o-border-radius:50%;
  position: fixed;
  right: 2%;
  top: -100%;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  z-index: 99999;
  color: #fff !important;
}
.btnTop.active{
  top: calc(100% - 8%);
}
.loding{
  width: 100%;
  height: 100%;
  background-color: var(--textColor);
  position:fixed;
  inset: 0;
  z-index: 999999999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}