/* ================= Public Style=================== */
@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@200;300;400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-shadow: 0;
  font-family: 'Mukta Mahee', sans-serif;
}
:root{
  --fontFamily:'Quicksand', sans-serif;
  --textColor:#009961;
  --linkColor:#333;
}
body{
  height: 10000000px;
}

.btnpublic{
  background-color:var(--textColor);
  color: #fff;
  font-size: 16px;
  padding: 10px 30px 10px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  z-index:1;
}
.btnpublic::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 400%;
  background: #fff;
  top: 31%;
  left: -78%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  z-index: -1;
}
.btnpublic:hover:before{
  top: -156%;
  left: 6%;
}
.btnpublic:hover{
  color: var(--textColor);
}
.title {

}
.title span{
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 10px;
  text-transform: uppercase;
  color: var(--textColor);
  font-family: var(--fontFamily);
}
.title h2{
  color: #303745;
  font-family: var(--fontFamily);
  font-size: 42px;
  font-weight: 700;
  position: relative;
  padding-bottom: 30px;
}
.title h2::after{
  content: "";
  position: absolute;
  width: 50px;
  height: 5px;
  background: var(--textColor);
  z-index: 9;
  bottom: 0;
  left: 0;
}
/*================Start Navber ================ */
.navbar{
  background-color: #fff;
  padding: 22px 50px;
  z-index: 99999;
}
.navbar .navbar-brand img{
  max-height: 40px;
}
.navbar .nav-item {
  margin-right: 14px;
  position: relative;
}
.navbar .nav-item::before , .navbar .nav-item::after{
  position: absolute;
  font-size: 22px;
  color: var(--textColor);
  top: 10%;
  opacity: 0;
  visibility: hidden;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
}
.navbar .nav-item::before{
  content: "[";
  left: -17%;

}
.navbar .nav-item::after{
  content: "]";
  right:-17%;
}
.navbar .nav-item:hover::before{
  opacity: 1;
  visibility: visible;
  left: -2px;
}
.navbar .nav-item:hover::after{
  opacity: 1;
  visibility: visible;
  right: -2px;
}
.navbar .nav-item .nav-link{
  color:var(--linkColor);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--fontFamily);
}
.navbar .dropdown-toggle::after{
  display:none;
}
.navbar .nav-item.active .nav-link{
  color:var(--textColor);
}
.navbar .nav-item.active::after{
  opacity: 1;
  visibility: visible;
  right: -2px;
}
.navbar .nav-item.active::before{
  opacity: 1;
  visibility: visible;
  left: -2px;
}
.navbar .dropdown-menu{
  display: block;
  background-color:var(--textColor);
  position: absolute;
  top: 166%;
  transform: scaleY(0);
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  opacity:0;
  visibility: hidden;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transform-origin: top;
  box-shadow: 0px 7px 7px 0px rgb(48 51 50 / 9%);
}
.navbar .dropdown-menu .dropdown-item{
  color: #fff;
}
.navbar .dropdown-menu .dropdown-item:hover{
  background-color: transparent;
  color:#ccc;
}
.navbar .nav-item:hover .dropdown-menu{
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  opacity:1;
  visibility: visible;
}
.navbar .dropdown-toggle span , .navbar .closeIcon{
  display:none;
}
@media (max-width:991px) {
  .navbar {
    padding: 28px 14px;
}
.navbar .navbar-toggler i {
  font-size: 40px;
  color:var(--textColor);
}
.navbar .navbar-brand img {
  max-height: 60px;
}
.navbar .nav-item::before, .navbar .nav-item::after{
  display:none;
}
.navbar .navbar-collapse{
  position: fixed;
  background: #fafafa;
  right: 0;
  top: 0;
  width: 63%;
  height: 100% !important;
  overflow:scroll;
}
.navbar .dropdown-toggle{
  display: flex;
  justify-content:space-between;
  align-items:center;
}
.navbar .dropdown-toggle span{
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: var(--textColor);
  line-height: 40px;
  text-align: center;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.navbar .dropdown-toggle span i{
  font-size: 18px;
  color: #fff;
}
.navbar .navbar-nav{
  padding-top: 50px;
}
.navbar .nav-item {
  border-bottom: 1px solid #f0f0f0;
}
.navbar .nav-item:last-child{
  border-bottom:0;
}
.navbar .nav-item .nav-link {
  padding: 15px 14px;
  font-size: 31px;
  font-weight: 500;
}
.navbar .dropdown-menu {
  position: unset;
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  opacity: 1;
  visibility: visible;
  background-color: transparent;
  border: 0;
  box-shadow: unset;
  display: none;
}
.navbar .dropdown-menu .dropdown-item{
  color: #333;
  border-bottom: 1px solid #f0f0f0;
  font-size:25px;
}
.navbar .dropdown-menu .dropdown-item:last-child{
  border-bottom:0;
}
.navbar .nav-item.show .dropdown-menu{
  display: block;
}
.navbar .closeIcon{
  display: block;
  width: 80px;
  height: 80px;
  background: var(--textColor);
  border-radius: 50%;
  line-height: 80px;
  text-align: center;
  margin: 40px 10px 0;
}
.navbar .closeIcon i{
  font-size: 20px;
  color:#fff;
}
.navbar .social-item{
  margin: 20px 10px;

}
.navbar .social-item a {
  width: 40px;
  height: 40px;
  background-color: var(--textColor);
  line-height: 40px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 12px;
}
.navbar .social-item a i{
  color: #fff;
}
.navbar .social-item {
  display: flex;
  justify-content: center;
}
}
@media (max-width:575px) {
  .navbar .navbar-brand img {
    max-height: 40px;
}
.navbar .navbar-toggler i {
  font-size: 30px;
}
.navbar .navbar-collapse {
  width: 85%;
}
.navbar .nav-item .nav-link {
  font-size: 17px;
}

}
/* ================end Navber ================ */

/* ================Start Header ================ */
header{
  background-color: #fff;
  position: relative;
  overflow: hidden;
  height: calc(100vh - 94px);
  display: flex;
  align-items: center;
}
header::before{
  content: "";
  position: absolute;
  background-image: url("../img/leaf2.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 15%;
  animation: imgHeader 3s alternate infinite;
  -webkit-animation: imgHeader 3s alternate infinite;
}
@keyframes imgHeader {
  0%{
    transform:translateY(4%)  ;
    -webkit-transform:translateY(4%)  ;
    -moz-transform:translateY(4%)  ;
    -ms-transform:translateY(4%)  ;
    -o-transform:translateY(4%)  ;
}
}
header .row{
  justify-content: space-between;
  align-items: center;
}
header .content p{
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 35px;
  font-family:var(--fontFamily);
}
header .content h1{
  font-weight: 700;
  font-size: 46px;
  font-family:var(--fontFamily);
}
header .content h1 span{
  color: var(--textColor);
  font-family:var(--fontFamily);

}
header .img-box {
  position: relative;
}
header .img-box:before{
  content: "";
  position: absolute;
  background-image: url(../img/sl_5.png);
  width: 50%;
  height: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 0%;
  left: 30%;
  z-index: 1;
  animation: imgHeader 2s alternate infinite;
  -webkit-animation: imgHeader 2s alternate infinite;
}
header .img-box::after{
  content: "";
  position: absolute;
  width: 40%;
  height: 28%;
  background-image: url("../img/sl_4.png");
  right: 0;
  top: -4px;
  background-size: contain;
  background-repeat: no-repeat;
  animation: imgBox 2s alternate infinite;
  -webkit-animation: imgBox 2s alternate infinite;
}

@keyframes imgBox {
  0%{
    transform:perspective(1000px) rotateY(50deg) translate3d(0,0,0) ;
    -webkit-transform:perspective(1000px) rotateY(50deg) translate3d(0,0,0) ;
    -moz-transform:perspective(1000px) rotateY(50deg) translate3d(0,0,0) ;
    -ms-transform:perspective(1000px) rotateY(50deg) translate3d(0,0,0) ;
    -o-transform:perspective(1000px) rotateY(50deg) translate3d(0,0,0) ;
}
100%{
  transform:perspective(1000px) rotateY(-50deg)  ;
  -webkit-transform:perspective(1000px) rotateY(-50deg)  ;
  -moz-transform:perspective(1000px) rotateY(-50deg)  ;
  -ms-transform:perspective(1000px) rotateY(-50deg)  ;
  -o-transform:perspective(1000px) rotateY(-50deg)  ;
}
}
header .img-box .main-img{
  width: 100%;
  height: 100%;
  transform: scale(1.4);
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
}
header .img-box .img-header{
  position: absolute;
  left: 0;
  width: 45%;
}
@media (max-width:991px) {
  header .content p{
    font-size: 28px;
    font-weight: 700;
  }
  header .content h1 {
    font-weight: 700;
    font-size: 40px;
  }
}
@media (max-width:575px) {
  header .img-box {
    position: relative;
    width: 60%;
    margin: auto;
}
header .content{
  text-align: center;
  margin-top: 31px;
}
header .content p{
  font-size: 18px;
  font-weight: 700;
}
header .content h1 {
  font-weight: 700;
  font-size: 28px;
}
}
/* ================End Header ================ */
/* ================start working-site ================  */
.working{

}

.working .card{
  background-color: #FFFFFF;
  border-radius: 10px 10px 10px 10px;
  padding: 35px 22px 45px 22px;
  box-shadow: 0px 0px 150px 0px #eeeeee;
  border: 0;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
}
.working .card:hover{
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  background-color: var(--textColor);
}
.working .card .card-body{
  text-align: center;
}
.working .card .card-body .card-title{
  color: #282828;
  font-size: 19px;
  font-family: var(--fontFamily);
  font-weight: 700;
  text-decoration: none;
}
.working .card .card-body .card-text{
  color: #646464;
}
.working .card:hover .card-body .card-text ,
.working .card:hover .card-body .card-title{
  color: #fff;
}
@media (min-width:1211px) {
  .working .container-fluid{
    max-width: 1140px;
  }
}
/*  ================end working-site ================ */

/* ================start about-us ================ */
.about-us{
  padding: 100px 0;
}
/* .about-us .about-img img{
  width: 100%;
} */
.about-us p{
  color: #646464 ;
  margin-top: 40px;
}
.about-us ul {
  list-style: none;
  margin-bottom:0;
}
.about-us ul li {
  padding-left: 25px ;
  line-height: 34px;
}
.about-us ul li i{
  color: var(--textColor);
  margin-right: 10px;
}
/* ================end wabout-us================ */